
#wrapper{
	position:relative;
	width:100%;
	height:100%;
}


body{
	font-family : arial,helvetica,sans-serif;
	font-size:15px;
	line-height:1.5;
	margin:0;
	padding:0;
	background-color:#f4f4f4;
}

.container{
	
	width:80%;
	margin:auto;
	overflow:hidden;
}
header{
    background:#35424a;
	
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#e8491d 5px solid;
}

header a{
	
	color:#ffffff;
	text-transform:uppercase;
	font-size:20px;
	text-decoration:none;
}

header ul{
	position:absolute;
	left:850px;
	top:11px;
}

header li{
	top:-5px;
	float:left;
	display:inline;
	padding : 0 20px 0 20px;
	
}

header #branding{
	float:left;
}

header #branding h1{
	
	position:absolute;
	
	left:55px;
	top:8px;

}

header nav{
	float:right;
	margin-top:10px;
	
}

header .highlight{
	color:#e8491d;
	font-weight:bold;
}

header a:hover{
	color:#e8491d;
	font-weight:bold;
}

#showcase{

	background-image:url('../image/addiction.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	
	
	
	
}
.btn{
	font-family:arial;
	text-transform:uppercase;
	font-size:30px;
	width:240px;
	height:60px;
	border-radius:80px;
	line-height:60px;
	text-align:center;
	border : 3px solid #fff;
	display:block;
	text-decoration:none;
	margin-left:450px;
	margin-top:491px;
	color:#fff;
	position:relative;
	overflow:hidden;
	background:transparent;
	transition:.3s;
}

.btn:before{
	
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	background:#009688;
	top:-100%;
	left:0;
	z-index:-1;
	transition:.3s;
	opacity:.3;
}
.btn:after{
	
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	background:#009688;
	top:-100%;
	left:0;
	z-index:-1;
	transition:.3s;
	transition-delay:.5s;
	
}
.btn:hover{
	color:#e8491d;
	border-color:#e8491d;
}

.btn:hover:before{
	top:0;
}

.btn:hover:after{
   top:0;
}

