

body{
	font-family : arial,helvetica,sans-serif;
	font-size:15px;
	line-height:1.5;
	margin:0;
	padding:0;
	background-color:#f4f4f4;
}
#background{
	position:absolute;
	position:fixed;
	top:-105px;
	min-width:100%;
	min-height:100%;
	
}

.container{
	
	width:80%;
	margin:auto;
	overflow:hidden;
}
header{
    background:#35424a;
	
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#e8491d 5px solid;
	
}

header a{
	
	color:#ffffff;
	text-transform:uppercase;
	font-size:20px;
	text-decoration:none;
}

header ul{
	position:absolute;
	margin:0;
	padding:0;
	margin-left:5px;
	list-style:none;
	left:830px;
}

header li{
	
	float:left;
	display:inline;
	padding : 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	position:absolute;
	
	left:55px;
	top:8px;

}

header nav{
	float:right;
	margin-top:10px;

	
}

header .highlight{
	color:#e8491d;
	font-weight:bold;
}

header #home{color:#000;}

header ul a:hover{
	color:#e8491d;
	font-weight:bold;
	
	border:2px solid #e8491d;
	padding:5px;
	
}

#home:hover{color:#e8491d;font-weight:bold;}

#nav div{
	height:4px;
	background-color:white;
	margin:5px 0;
	border-radius:25px;
	transition:0.3s;
	
}
  #nav{
	width:30px;
	display:block;
	
	position:absolute;
	left:0;
	margin-top:5px;
}

.one{
	width:30px;
}

.two{
	width:20px;
}

.three{
	width:25px;
}

#nav:hover div{width:30px;}


.header{
	text-align:center;
	position:absolute;
	top:20%;
	left:25%;
	
}

.header h1{
	
	color:#fff;
	font-size:3em;
	margin-left:10px;
}

.header p{
margin-top:-35px;	
color:#fff;
}

.header span{
	color:#000;
}


.header span:hover{color:#fff;}

.form{
	
	
	position:absolute;
	top:40%;
	left:30%;
	text-align:center;
}

input{
	
	width:100%;
	margin:30px 0;
	background:rgba(0,0,0,0);
	border:none;
	border-bottom:3px solid #e8491d;
	color:#fff;
	margin-top:40px;
	height:40px;
}

::-webkit-input-placeholder{
	color:#fff;
	font-size:18px;
	letter-spacing:2px;
	position:bottom;
	
}

#msg{
	
	margin-top:60px;
	width:100%;
	
}

.btn{
	padding: 15px 20px;
	font-size:16px;
	background:#fff;
	border:none;
	border-radius:35px;
	margin-top:30px;
	font-weight:bold;
	color:#696969;
	
}

.btn:hover{
	background-color:#e8491d;
	color:#fff;
	
}

header #contact:hover{
	color:#000;
	
}